
.package{
    background: rgb(36, 35, 35);
    border: 1px solid #f4df4e;
    height: 300px;
    width: 23%;

    margin: 0.9em;
    padding: 0;

    .image {
        // padding: 0.3em;
        background: #f4df4e;
        margin: 0;

        // margin-left: -0.75em;
        // margin-right: -0.75em;

        img {
            width: 100%;
            height: auto;
        }
        
    }

    .description{
        padding: 0.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .footer{
        display: flex;
        padding: 1em;

        display: flex;
        padding: 1em;
        justify-content: space-between;
        align-items: center;

        .pay{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 12vw;

            .limits{
                font-size: 11px;
                padding: 5px;
            }
        }
    }
}

.prices{
    display: flex;
    flex-direction: column;
    
    .prices-list{
        display: flex;
        flex-direction: column;
    }
   
}

.small-text{
    font-size: 12px;
}