<div class="packages row">


    <div class="package col-4" *ngFor="let package of creditsPackages">
        <div class="image">
            <img alt="" [defaultImage]="'/assets/placeholder.png'" [lazyLoad]="package.image">
        </div>
        <div class="description">
           {{ package.description }}
        </div>
        <div class="footer">
            <div class="prices">
                <span *ngIf="isFreePackage(package)">
                    <b>¡GRATIS!</b>
                </span>

                <span class="prices-list" *ngIf="!isFreePackage(package)">
                    <b *ngIf="package.prices.CLP">$ {{ getPrice(package.prices.CLP) }} CLP</b>
                    <span *ngIf="package.prices.USD" class="small-text"><b class="">$ {{ getPrice(package.prices.USD) }} USD</b></span>
                </span>
            </div>
            <div class="pay">
                <span class="limits" *ngIf="package.limit">Limite de {{package.limit}}</span>
                <!-- <span class="limits" *ngIf="package.globalLimit">Stock {{package.globalLimit}}</span> -->
                <button (click)="openDialog(package)" mat-raised-button color="accent">COMPRAR</button>
            </div>
        </div>
    </div>
</div>