<div class="app-payment">
    <div class="cad">
        <div class="cad-menu">
            <div class="title">
               Realizando Pago
            </div>
        </div>
        <div class="cad-body">
          <div class="app-page-payment">

            <div class="description">
                <h1 class="lead p-3 text-center"><b>Espere a que cargue la plataforma de pagos</b>. Esta ventana se cerrará automáticamente una vez completado el pago.</h1>
                <div *ngIf="!paymentUrl" class="container p-5 center-page-payment">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div *ngIf="paymentUrl=='fintoc'">
                  <button mat-raised-button color="primary" (click)="loadFintocData()">REINTENTAR</button>
                </div>
                <iframe id="paymentflow" *ngIf="paymentUrl && paymentUrl!='fintoc'" loading="lazy" width="100%" style="height:75vh;" [src]="paymentUrl | safe" frameborder="0" referrerpolicy="origin-when-cross-origin" allowfullscreen="false" ></iframe>
                <!-- <embed *ngIf="paymentUrl" [src]="paymentUrl | safe" width="100%" style="height:75vh;" /> -->

            </div>

            <div class="footer">
              <button [disabled]="loading" (click)="cancelOrder()" [disabled]="!paymentUrl && !noTokenGiven" mat-raised-button color="warn">
                <mat-spinner *ngIf="loading" diameter="20" color="accent"></mat-spinner> <span *ngIf="!loading">CANCELAR COMPRA</span>
              </button>
              <button (click)="close()" [disabled]="!paymentUrl" mat-raised-button color="primary" >CONTINUAR LUEGO</button>
            </div>
          </div>
        </div>
    </div>
</div>
