.options{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: #d5bc13;
    height: 7vh;

    mat-form-field{
        width: 30%;
        padding: 20px 10px 0;
        padding-bottom: 0;

        input{
            color: white;
        }
    }
}

.mat-mdc-table {
    background: #354254;
    color: white;
    padding: 10px;
}

.mat-mdc-paginator {
    background: #d5bc13;
    color: white;
}

.mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-status {
    width: 32px;
    padding-right: 24px;
    text-align: center;
}

.mat-column-concept {
    width: 620px;
    padding-right: 24px;
}

.badge {
    display: inline-block;
    padding: .55em .8em;
    font-size: 85%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    width: 150px;
}

.badge-primary {
    color: #fff;
    background-color: #05509f;
}

.badge-success {
    color: #ffffff;
    background-color: #1ec675;
}

.badge-danger {
    color: #fff;
    background-color: #940715;
}

.badge-warning {
    color: #fff;
    background-color: #058277;
}

.buttonFlex{
    display: flex;
    align-items: center;
}

th, td{
    color: white !important;
}

.mat-mdc-select-value {
    color: rgba(255, 255, 255, 0.87) !important;
}